<div class="top-margin"></div>
<!-- TODO: make this responsive -->
<div class="container-fluid d-flex">
  <div class="column">
    <app-origin-list (dragStart)="onDragStart($event)" (dragMove)="onDragged($event)" (dragEnd)="onDragEnd($event)"></app-origin-list>
  </div>
  <div class="column">
    <app-layout [layout]="layout" (drop)="onDrop($event)" (dragStart)="onDragStart($event)" 
      (dragMove)="onDragged($event)" (dragEnd)="onDragEnd($event)"
      (remove)="onRemove($event)" (nodeSelected)="onNodeSelected($event)"></app-layout>
  </div>
  <div class="column">
    <app-options [selectedNode$]="selectedNode$" (save)="onNodeSave($event)"></app-options>
  </div>
</div>
